/* base colors */

$offWhite     : #f6f6f6;
$iceBlue      : #f2f9fb;
$darkIce      : #e4f5fc;
$lightestGrey : #efefef;
$lightGrey    : #ededed;
$grey         : #ccc;
$midGrey      : #615f6b;
$darkGrey     : #37363b;
$lightBlack   : #181818;
$black        : #000;
$brightRed    : #dd241b;
$red          : #bf0e0e;
$lightBlue    : #e5eff6;
$blue         : #0066a9;
$darkBlue     : #003c5c;
$lightGreen   : #e5f2ea;
$brightGreen  : #008e3c;
$green        : #008035;
$darkGreen    : #1b7025;
