@use 'colors' as *;

/* HIDDEN FROM PL SWATCHES BUT USED ON SITE */
$white         : #fff;
$adminPink     : #f8e8f1;

$transWhite    : rgba(255,255,255,0.7);
$transBlack    : rgba(35,35,35,0.7);
$transTint     : rgba(35,35,35,0.4);

/* ADMINS - do not customize per site */
$adminGold      : #fcd105;
$adminWhiteGold : #fefbc7;
$adminFuchsia   : #c028bb;
$adminGreen     : #018901;
$adminGrey      : #676767;
$adminTransGrey : rgba(92,96,98,.92);


/* ===========================
    COMPONENT SPECIFIC COLORS
=============================   */

/* TEXT
---------------------- */
$baseText          : $lightBlack;
$link              : $brightGreen;
$activeLink        : $black;
$hoverLink         : $midGrey;
$breadLink         : $link;
$breadLinkHover    : $hoverLink;
$breadCurrent      : $darkGrey;

/* BUTTONS
---------------------- */
$buttonBack        : $green;
$buttonBackHover   : $grey;
$buttonBackActive  : darken($grey, 5%);
$buttonText        : $white;
$buttonTextHover   : $black;
$buttonTextActive  : $black;
$submitBack        : $link;
$submitText        : $white;
$submitBackHover   : $grey;
$submitTextHover   : $black;
$resetBack         : $darkGrey;
$resetText         : $white;
$resetBackHover    : $grey;
$resetTextHover    : $black;
$cautionBack       : $midGrey;
$cautionText       : $white;
$cautionBackHover  : $grey;
$cautionTextHover  : $black;

/* SYSTEM
--------------------- */
$siteBack                  : $white;
$unpub                     : $adminPink;
$headerBack                : transparent;
$prefooterBack             : $blue;
$prefooterText             : $white;
$prefooterLink             : $white;
$prefooterLinkHover        : $hoverLink;
$footerBack                : $darkBlue;
$footerText                : $white;
$footerLink                : $white;
$footerLinkHover           : $hoverLink;
$borderRule                : $black;
$modalBack                 : $adminTransGrey;
$modalContent              : $baseText;
$modalContentBack          : $siteBack;
$modalHeader               : $white;
$modalHeaderBack           : $darkGrey;
$modalHeaderClose          : $white;
$modalHeaderCloseHover     : $grey;
$modalGalButton            : $white;
$modalGalButtonHover       : $link;
$modalGalButtonBackHover   : transparent;
$modalGalButtonShadow      : $transBlack;
$modalGalButtonShadowHover : $transBlack;
$hamburger                 : $green;
$hamburgerActive           : $black;
$searchIcon                : $darkGreen;
$searchIconHover           : $black;
$searchDropBack            : $lightGreen;
$searchDropText            : $lightBlack;
$searchDropPlace           : $black;
$searchDropPlaceFocus      : $darkGrey;
$searchDropInputBorder     : $green;
$searchDropInputFocus      : $green;
$searchDropSearchIcon      : $darkGreen;
$searchDropSearchIconHover : $black;
$searchClose               : $green;
$searchCloseHover          : $black;
$searchCloseBack           : $lightGreen;
$searchCloseBackHover      : $lightGreen;


/* FORMS
--------------------- */
$inputBorderColor         : $blue;
$inputBorderHover         : $blue;
$inputBorderFocus         : $black;
$placeColor               : $adminGrey;
$placeFocusColor          : $placeColor;
$validation               : $brightRed;
$checkbox                 : $link;
$checkboxHover            : $link;
$checkboxBackHover        : $lightGrey;
$checkboxChecked          : $link;
$checkboxCheckedHover     : $midGrey;
$checkboxCheckedBack      : $link;
$checkboxCheckedBackHover : $midGrey;
$selectArrow              : $midGrey;
$selectHighlight          : $link;
$progressBar              : $grey;
$progressMarker           : $grey;
$progressMarkerText       : $black;
$progressMarkerActive     : $darkGrey;
$progressMarkerActiveText : $white;
$sliderTrack              : $grey;
$sliderTrackHover         : $link;
$sliderKnob               : $white;
$datepickerHeader         : $red;
$datepickerHeaderElement  : $white;
$datepickerDays           : $black;
$datepickerDaysBack       : $lightGrey;
$datepickerDate           : $darkGrey;
$datepickerDateBack       : $white;
$datepickerDateBorder     : $lightGrey;
$datepickerCurrent        : $darkGrey;
$datepickerCurrentBack    : $adminWhiteGold;
$datepickerSelected       : $black;
$datepickerSelectedBack   : $darkIce;
$detailsWrapperBack       : $offWhite;

/* TABLES
---------------- */
$tableHeaderBack     : $darkGrey;
$tableHeaderText     : $white;
$tableRowHeaderBack  : $grey;
$tableRowHeaderText  : $black;
$rowBorder           : $borderRule;
$evenRowBack         : $siteBack;
$evenRowText         : $baseText;
$oddRowBack          : $lightGrey;
$oddRowText          : $baseText;


/* MENU BLOCK (Sidebar)
--------------------- */
$menuBlockTitle       : $black;
$menuBlockTitleHover  : $hoverLink;
$menuBlockTitleBack   : $lightGrey;
$menuBack             : $siteBack;
$menuTop              : $link;
$menuTopHover         : $hoverLink;
$menuTopActive        : $black;
$menuTopActiveHover   : $hoverLink;
$menuChild            : $link;
$menuChildHover       : $hoverLink;
$menuChildActive      : $link;
$menuChildActiveHover : $hoverLink;


/* WIDGET ANCHORS
---------------------- */
$anchors        : $white;
$anchorsBack    : $link;
$anchorsHover   : $transWhite;
$anchorsRules   : $white;

/* PAGERS
--------------------- */
$pagerBorder                : $borderRule;
$pagerBack                  : transparent;
$pagerNumber                : $link;
$pagerNumberBack            : transparent;
$pagerNumberHover           : $hoverLink;
$pagerNumberBackHover       : transparent;
$pagerNumberActive          : $white;
$pagerNumberActiveBack      : $link;
$pagerNumberActiveHover     : $white;
$pagerNumberActiveBackHover : $hoverLink;
$pagerLink                  : $link;
$pagerLinkBack              : transparent;
$pagerLinkHover             : $hoverLink;
$pagerLinkBackHover         : transparent;
$resultsText                : $baseText;


/* ACCORDIONS
------------------- */
$accordHeader             : $baseText;
$accordHeaderHover        : $white;
$accordHeaderBorder       : $darkGrey;
$accordHeaderBorderHover  : $darkGrey;
$accordHeaderBack         : $siteBack;
$accordHeaderBackHover    : $darkGrey;
$accordContentBack        : $siteBack;
$accordContentBorder      : transparent;
$accordActive             : $white;
$accordActiveHover        : $white;
$accordActiveBorder       : $black;
$accordActiveBorderHover  : $darkGrey;
$accordActiveBack         : $black;
$accordActiveBackHover    : $darkGrey;

/* MESSAGES
------------------ */
$messageText          : $white;
$messageBack          : $darkGrey;
$messageGoodBorder    : $adminGreen;
$messageWarningBorder : $adminGold;
$messageErrorBorder   : $adminFuchsia;


/* EMBEDDED DOC ICONS
------------------- */
$fileIcon: $midGrey;
