/* =================
   PROMO BLOCK
=================== */
@use '../../../00-base/base' as *;

.block-promo{
	background-color: $lightBlue;
	padding-top: 100px;
	padding-bottom: 125px;
	@include bleed(padding,$spaceLg);
	@include onlySmall{
		padding-top: 75px;
		padding-bottom: 75px;
	}
	@include desk{
		padding-top: 125px;
		padding-bottom: 150px;
	}
	.field-promos{
		@include safeFlex(column,no-wrap,center,start);
		max-width: $contentStop;
		margin: auto;
		@include tab{
			@include safeFlex(row,no-wrap,around,start);
		}
		& > div{
			padding-bottom: $spaceXs;
			max-width: $textMax;
			@include tab{
				padding-left: $spaceXs;
				padding-right: $spaceXs;
			}
			&:not(:last-of-type){
				@include onlySmall {
					margin-bottom: $spaceLg;
				}
			}
			&:first-of-type{
				@include tab{
					margin-left: -$spaceXxs;
				}
			}
			&:last-of-type{
				@include tab{
					margin-right: -$spaceXxs;
				}
			}
		}
		.widget-title{
			@include heading3;
			text-align: left;
			margin-bottom: $spaceXs;
		}
		.widget-wrapper{
			max-width: 500px;
		}
	}
}
