/* =================
	SITE HEADER
=================== */

@use '../../../00-base/base' as *;

.site-header {
	background: $headerBack;
	padding: 20px $siteMarginMobile 0;
	& > div{
		max-width: $contentStop;
		border-bottom: 1px solid $grey;
		padding-bottom: 20px;
		@include auto;
		position: relative;
		@include safeFlex(row,wrap,null,center);
	}
}//end layout container


/* BRANDING BLOCK PLACEMENT
------------------- */
.block-system-branding-block{
	//leave room for search toogle and menu hamburger on mobile
	width: calc(100% - 70px);
	position: relative;
	z-index: 10;
	@include desk{
		width: 240px;
	}
	a{
		img{
			max-width: 160px;
			margin-right: 4px;
			@include desk{
				max-width: 100%;
			}
		}
	}
	.logo-text{
		font-size: $baseSizeSm;
	}
}//end branding block


/* SEARCH BLOCK PLACEMENT
------------------- */
.block-site-search{
	position: static;
	display: inline-block;
	text-align: right;
	@include desk{
		width: calc(100% - 240px);
	}
	//search toggler
	.t-search{
		@include onlyMobile{
			display: none;
		}
		@include desk{
			position: absolute;
			top: -28px;
			right: -243px;
			&:hover,&:focus{
				text-decoration: none;
			}
		}
	}
}//end search block


/* MAIN NAVIGATION BLOCK
------------------------ */
.block--system-menu{
	@include onlyMobile{
		&.contextual-region{
			position: static;
		}
		#superfish-main-toggle{
			position: absolute;
			height: 32px;
			width: 32px;
			top: 20px;
			right: 50px;
		}
	}
	//desktop position
	@include desk{
		position: absolute;
		right: 0;
		bottom: -20px;
	}//end desk
}//end main nav
