/* =================
	SITE HEADER
=================== */

@use '../../../00-base/base' as *;

.site-header {
	background: $headerBack;
	padding: 20px $siteMarginMobile;
	& > div{
		max-width: $contentStop;
		border-bottom: 1px solid $grey;
		padding-bottom: 20px;
		@include auto;
		position: relative;
		@include safeFlex(row,wrap,justify,end);
		@include desk{
			padding-bottom: 60px;
		}
		@include mainMenu{
			padding-bottom: 20px;
		}
	}
}//end layout container


/* BRANDING BLOCK PLACEMENT
------------------- */
.block-system-branding-block{
	//leave room for search toogle and menu hamburger on mobile
	width: calc(100% - 70px);
	position: relative;
	z-index: 10;
	@include desk{
		width: 385px;
	}
	// @include onlyMobile{
	// 	width: 100%;
	// }
	a{
		img{
			max-width: 275px;
			margin-right: 4px;
			margin-bottom: $spaceXs;
			@include desk{
				max-width: 305px;
			}
		}
	}
	.logo-text{
		@include safeFlex(row,wrap,start,start);
		font-size: $baseSizeSm;
		a{
			margin-left: 3px;
		}
	}
}//end branding block


/* SEARCH BLOCK PLACEMENT
------------------- */
.block-site-search{
	position: static;
	display: inline-block;
	text-align: right;
	@include desk{
		width: calc(100% - 240px);
		&.contextual-region{
			position: static;
		}
	}
	//search toggler
	.t-search{
		@include onlyMobile{
			display: none;
		}
		@include desk{
			position: absolute;
			top: 133px;
			right: 0;
			&:hover,&:focus{
				text-decoration: none;
			}
		}
		@include mainMenu{
			top: 93px;
		}
	}
}//end search block


/* MAIN NAVIGATION BLOCK
------------------------ */
.block--system-menu{
	@include onlyMobile{
		#superfish-main-toggle{
			position: absolute;
			height: 32px;
			width: 32px;
			top: 20px;
			right: 50px;
		}
	}
	//desktop position
	@include desk{
		position: absolute;
		right: 0;
		bottom: 0;
		&.contextual-region{
			position: absolute;
		}
	}//end desk
}//end main nav
