{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}


{% extends 'block.html.twig' %}


{% block blockContent %}
  {{ attach_library('citizen_dart/search-block') }}
  <div class="t-search-wrapper"><a href="#" class="t-search" role="button" aria-label="toggle-search" aria-controls="search-form-wrapper"><span class="material-icons">search</span></a></div>
	<div class="t-search-close"><a href="#" class="close-search" role="button" aria-label="toggle-search-close" aria-controls="search-form-wrapper"><svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="m12.65 36.45-1.1-1.1L22.9 24 11.55 12.65l1.1-1.1L24 22.9l11.35-11.35 1.1 1.1L25.1 24l11.35 11.35-1.1 1.1L24 25.1Z"/></svg></span></a></div>
	<div id="search-form-wrapper" aria-hidden="true">
  	{% block searchForm %}
		  {{ content }}
		{% endblock %}
	</div>
{% endblock %}
