/* =================
	 MAIN MENU
===================== */
@use '../../../00-base/base' as *;

#block-main-menu{
	.main-menu-toggle{
		position: absolute;
		top: 0;
		right: 0;
		@include desk{
			display: none;
		}
	}
	& > ul{
		@include onlyMobile{
			display: none;
		}
		@include listReset;
		@include safeFlex(row,wrap,end,null);
		line-height: 1;
		margin-right: $spaceXs;
		.menu-item{
			a{
				color: $black;
				font-weight: bold;
				padding: 2.5rem 1.5rem;
				font-size: $formLabelSize;
				display: block;
				position: relative;
			}
		}
	}
}
