/* =================
	 MAIN MENU
===================== */
@use '../../../00-base/base' as *;
@use '../../../01-parts/buttons/button-mixins' as *;

#block-main-menu{
	@include onlyMobile{
		&.toggled{
			@include edgeToEdge;
			position: absolute;
			top: -20px;
			width: 100%;
			height: 100vh;
			z-index: 999;
		}
	}
	.main-menu-toggle{
		position: absolute;
		top: 0;
		right: 0;
		&.toggled{
			display: none;
		}
		@include desk{
			display: none;
		}
	}
	& > ul{
		@include listReset;
		@include safeFlex(row,wrap,end,null);
		line-height: 1;
		@include onlyMobile{
			&.toggled{
				display: block;
				background-color: $lightGreen;
				height: 100%;
			}
			display: none;
		}
		@include desk{
			margin-right: $spaceXs;
		}
		.menu-item{
			@include onlyMobile{
				&:not(:last-of-type){
					a{
						border-bottom: 1px solid $black;
					}
				}
				a{
					margin: 0 $spaceSm;
				}
			}
			a{
				color: $black;
				font-weight: bold;
				padding: 2.5rem 1.5rem;
				font-size: $formLabelSize;
				display: block;
				position: relative;
			}
		}
		.button.menu-close{
			display: none;
			margin: auto;
			@include onlyMobile{
				display: block;
			}
		}
	}
}
