/* ========================
  ADMIN CSS
=========================*/

/* ADMIN LANGUAGE SWITCHER */
.block-language-blocklanguage-interface{
	background: #fcd105;
	padding: .5rem;
	border-radius: .5rem;
	display: inline-block;
	margin-bottom: 1rem;
}
.block-language-blocklanguage-interface .links{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
.block-language-blocklanguage-interface .links li{
	padding-left: .5rem;
	padding-right: .5rem;
}
.block-language-blocklanguage-interface .links li:first-child:after{
	content: '|';
	position: relative;
	top: -1px;
	right: -0.5rem;
}
.block-language-blocklanguage-interface .links li a:not(.is-active){
	font-weight: 700;
	text-decoration: underline;
	color: #232323;
}
.block-language-blocklanguage-interface .links li a:not(.is-active):hover{
	color: #1548bd;
	text-decoration: none;
}
.block-language-blocklanguage-interface .links li a.is-active{
	pointer-events: none;
	opacity: .4;
}

/* ADJUST UI DIALOG CLOSE X */
.ui-dialog.ui-widget .ui-dialog-titlebar-close.ui-button-icon-only{
	top: 13px;
}

/* ADD LAYOUT PARAGRAPH UI IMPROVEMENTS */
.ui-widget-content.lpb-dialog{
	width: 75% !important;
}
.ui-widget-content.lpb-dialog .ui-dialog-buttonpane .button.button--small{
	padding-top: 14px;
	padding-bottom: 14px;
}
.lpb-component-list{
	margin-top: 20px;
	margin-bottom: 20px;
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .lpb-component-list__item{
	width: 33.33%;
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .lpb-component-list__item > a{
	flex-direction: column;
	margin-top: 20px;
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .lpb-component-list__item > a:hover{
	color: #676767;
	text-decoration: underline;
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .lpb-component-list__item > a:hover::before{
	opacity: .6;
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .lpb-component-list__item > a:before {
  content: '';
  display: block;
  width: 100%;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}
/* CUSTOM ICONS ARE ALL DOWNLOADED FROM MATERIAL ICONS */
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-accordions > a:before{
  background-image: url('../icons/paragraphs/accordions.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-block_placer > a:before{
  background-image: url('../icons/paragraphs/block-placer.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-content_placer > a:before{
  background-image: url('../icons/paragraphs/content-placer.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-custom_embed > a:before{
  background-image: url('../icons/paragraphs/custom-embed.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-form_placer > a:before{
  background-image: url('../icons/paragraphs/form-placer.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-gallery > a:before{
  background-image: url('../icons/paragraphs/gallery.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-horizontal_rule > a:before{
  background-image: url('../icons/paragraphs/horizontal-rule.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-image > a:before{
  background-image: url('../icons/paragraphs/image.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-links_files > a:before{
  background-image: url('../icons/paragraphs/links-files.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-map > a:before{
  background-image: url('../icons/paragraphs/map.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-portals > a:before{
  background-image: url('../icons/paragraphs/portals.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-quote > a:before{
  background-image: url('../icons/paragraphs/quote.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-text > a:before{
  background-image: url('../icons/paragraphs/text.svg');
}
.lpb-component-list .lpb-component-list__group > .lpb-component-list__group--content > .type-video > a:before{
  background-image: url('../icons/paragraphs/video.svg');
}

