/* ===============
   LINKS N FILES WIDGET
================== */

@use '../../../00-base/base' as *;

.paragraph--type--links-files{
	@include textConstrain;
	.links-files{
		margin-bottom: -$spaceSm;
		&.multi-col{
			.field-links-files{
				@include smallTab{
					.node-section > .layout.one-column &,.node-section > .layout--twocol-sideleft &,.widget-section > .layout--onecol &{
						@include cssColumns(2,4rem,nobreak);
					}
				}
			}
		}//end multi column
		.field-links-files{
			& > div{
				margin-bottom: $spaceSm;
				.field-link,.field-file{
					font-weight: $heavy;
					margin-bottom: $spaceXxs;
				}
			}
		}
	}//end links files
}//end links-files widget

